.single-post{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 5em 30em;
    flex-direction: column;
    align-self: center;
}

.single-post button{
    padding: 5px 30px;
    margin: 0px 150px;
}